<div id="pokemon<%= number %>">
  <select name="pokemon[<%= number %>]">
    <option selected disabled>Pokemon <%= number %></option>
    <% @pokemon.each do |mon| %>
    <option value="<%= mon.id %>"><%= mon.name %></option>
    <% end %>
  </select>
</div>