<div id="individual_team">
  <% @team.pokemon.each do |member| %>
    #<%= member.id %>  -  <%= member.name %><br>
    <img src="<%= member.photo_url %>"><br>
    <%= member.primary_type %>
    <% if member.secondary_type != nil %>
      / <%= member.secondary_type %>
    <% end %><br>
  <% end %>
</div>

<div id="edit_team">
  <a href="/teams/<%= @team.id %>/edit">Edit team</a>
</div>

<div id="delete_team">
  <form method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete team">
  </form>
</div>