<div id="select_new_team">
<form method="POST">

<div id="pokemon1">
  <select name="pokemon1">
    <option selected disabled>Pokemon 1</option>
    <% @pokemon.each do |mon| %>
    <option value="<%= mon.id %>"><%= mon.name %></option>
    <% end %>
  </select>
</div>

<div id="pokemon2">
  <select name="pokemon2">
    <option selected disabled>Pokemon 2</option>
    <% @pokemon.each do |mon| %>
    <option value="<%= mon.id %>"><%= mon.name %></option>
    <% end %>
  </select>
</div>

<div id="pokemon3">
  <select name="pokemon3">
    <option selected disabled>Pokemon 3</option>
    <% @pokemon.each do |mon| %>
    <option value="<%= mon.id %>"><%= mon.name %></option>
    <% end %>
  </select>
</div>

<div id="pokemon4">
  <select name="pokemon4">
    <option selected disabled>Pokemon 4</option>
    <% @pokemon.each do |mon| %>
    <option value="<%= mon.id %>"><%= mon.name %></option>
    <% end %>
  </select>
</div>

<div id="pokemon5">
  <select name="pokemon5">
    <option selected disabled>Pokemon 5</option>
    <% @pokemon.each do |mon| %>
    <option value="<%= mon.id %>"><%= mon.name %></option>
    <% end %>
  </select>
</div>

<div id="pokemon6">
  <select name="pokemon6">
    <option selected disabled>Pokemon 6</option>
    <% @pokemon.each do |mon| %>
    <option value="<%= mon.id %>"><%= mon.name %></option>
    <% end %>
  </select>
</div>

<input type="submit" value="Create team">
</form>
</div>